a{
    text-decoration: none;
    color: black;
}
#product-image{
    width:100px;
    height:100px;
}
#product{
    width: 100%;
    margin-bottom: 200px;
    margin-left: 10px;
    /* margin-left:50px; */
}
#banner-img{
    width: 100%;
}
ul{
  
}
ul li{
    float: left;
    list-style: none;
    width: 147px;
    margin: 0;
    padding: 0;
}

#clear-cart-img{
    width: 20px;
    height: 20px;
}
#totle-price{
    width: 500px;
    margin-left: 30px;
}
#show-cart{
    margin-left: 30px;
    
}
#button{
    width: 500px;
    margin-left: 30px;    
}
#atc-img{
    width: 100px;
    height: 50px;
}
#notifiation-head{
    position: relative;
    float: right;
    margin-right: 250px;
    margin-top: 8px;
    margin-bottom: 0px;
}
#notification{
    color: white;
    background-color: red;
    padding: 2px 9px;
    border-radius: 100%;
    font-size: 18px;
    position: absolute;
    left: 25px;
    top: 4px;
}
#notifiaction-cart{
    width: 50px;
}
.container{
    width: 960px;
    margin: 0 auto;
}
footer{
    height: 50px;
    width: 100%;
    background-color: black;
    margin-top: 60%;
    border-radius: 10px;
}

nav{
    margin-left: 33%;
}

nav li{
    list-style: none;
    float: left;
}
nav li a{
    display: block;
    padding: 20px;
    font-size: 25px;
}

#home-producr-img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
#home-producr ul{
    margin-left: 115px;
    margin-top: 100px;
}
#home-producr ul li h4{
    margin-left: 135px
}

#home-producr ul li:nth-child(2){
    margin-left: 200px;
}